* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #f5f6f7;
  color: #333;
}

/* 상단 바 */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-top-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 80px;
}

.horizontal-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

.main-top-logo {
  width: 40px;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.horizontal-item {
  font-size: 16px;
}

.horizontal-item a {
  text-decoration: none;
  color: #333;
}

.green-btn {
  border-radius: 8px;
  height: 40px;
  padding: 0 16px;
  background-color: #059862;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.green-btn:hover {
  background-color: #047857;
}

/* 네비바 - 상단 */
.nav-top {
  display: flex;
  align-items: center;
  padding: 0 80px;
  line-height: 25px; /* 세로 중앙 정렬 */
  background-color: #333;
}

.navdi-top-list {
  display: flex;
  align-items: center;
  gap: 1px; /* 우선 놔두기*/
  list-style: none;
  margin: 0;
  padding: 0;

  overflow-x: auto;
  white-space: nowrap;
}

.navdi-top-list::-webkit-scrollbar {
  display: none;
}

.navdi-top-list li {
  flex-shrink: 0;
}

.arrow {
  font-size: 24px;
  color: white;
  line-height: 40px;
}

.navdi-top-list li a {
  display: block;
  padding: 0 12px;
  line-height: 40px;
  text-decoration: none;
  color: white;
}

.navdi-top-list li a:hover {
  background-color: #000;
}

.navdi-top-list li a.active {
  background-color: #059862;
}

/* 왼쪽 내용 */
#main-title {
  display: flex;
  padding: 0 80px;
}

.nav-left {
  height: calc(100vh - 100px);
  width: 250px;
  justify-content: left;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #e7e9eb;
}

.navdi-left-list {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  color: #333;
}

.nav-title {
  font-size: 20px;
  padding: 12px 16px;
}

.navdi-left-list li a {
  display: block;
  padding: 6px 16px;
  text-decoration: none;
  color: #333;
}

.navdi-left-list li a:hover {
  background-color: #c7ccd3;
}

.navdi-left-list li a.active {
  background-color: #059862;
  color: white;
}

/* main - 설명서 */
main {
  flex: 1;
  background-color: white;
}

.main-title {
  flex: 1;
  padding: 20px;
  position: relative;
}

.main-title hr {
  margin: 20px 0;
  border: 1px solid #efefef;
}

.title > div > h1 {
  font-weight: 500;
  font-size: 40px;
}

/* 저장 아이콘 색성 변경 실패 */
svg {
  fill: #059862;
}

.title > div {
  display: flex;
  justify-content: space-between;
}

.home-btn,
.next-btn {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #059862;
  color: white;
  font-weight: 700;
  font-size: 18px;

  text-align: center;
}

.title span {
  font-size: 26px;
  padding: 2px;
}

/* 본문 - Learn HTML 부분 */
.main-text h3 {
  font-weight: 400;
  font-size: 30px;
}

.main-text p {
  white-space: pre-line;
  font-size: 18px;
  line-height: 1.8;
}

.html-text-center {
  position: absolute;
  font-size: 18px;
  background-color: white;
  color: #333;
  border-radius: 8px;

  width: 40px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* html 설명 */
.html-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.html-text-green {
  flex: 1;
  background-color: #e6f6f0;
  border-radius: 20px;
  padding: 30px;
}

.html-text-green h2,
.html-text-magenta h2 {
  font-size: 22px;
  font-weight: 500;
}

.html-text-green p,
.html-text-magenta p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.html-text-green button {
  background-color: #04aa6d;
  color: white;
  width: 220px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

.html-text-magenta {
  flex: 1;
  background-color: #f0eafb;
  border-radius: 20px;
  padding: 30px;
}

.html-text-magenta button {
  background-color: #9763f6;
  color: white;
  width: 300px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

.html-text-magenta p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

/* 밑에 그리드 도형 */
.shapes-green {
  position: relative;
  height: 40px;
  padding: 20px;
}

/* 회색 전체 bar */
.shapes-green-gray {
  width: 90%;
  height: 12px;
  background-color: gainsboro;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* 진행도 초록 bar */
.shapes-green-color {
  width: 3%;
  height: 12px;
  background: #04aa6d;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* 아이콘 */
.shapes-green-icon {
  position: absolute;
  top: 15px;
  right: 40px;
}

.shapes-signIn {
  padding: 0 16px;
  border-radius: 6px;
}

.shapes-signIn span {
  font-weight: bold;
}

.shapes-signIn a {
  color: #333;
}

.shapes-signIn a:hover {
  text-decoration: underline;
}

/* example 설명 */
.example {
  flex: 1;
}

.example h3 {
  font-size: 30px;
  font-weight: 500;
  padding: 0;
}

.example p {
  padding: 0;
}

/* 오른쪽 - 광고 */
.main-rigth {
  width: 250px;
  padding: 20px;
  background-color: #e7e9eb;
}
