.section-title {
  margin: 5px;
  border-bottom: 2px solid #000;
}

.vertical-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: darkblue;
  font-size: 20px;
}

.vertical-item {
  padding: 5px 10px;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: darkblue;
  font-size: 20px;
}

.horizontal-item {
  display: inline-block;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
}
