* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: minmax(6.25rem, auto) 1fr;
  row-gap: 0.625rem;

  align-items: center;
}

fieldset {
  grid-column: 1/3;
}

fieldset div {
  display: flex;
  justify-content: center;
}

input[type="email"],
input[type="password"] {
  padding: 0.4rem 0.625rem;
  outline: 0;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 0.625rem 2.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 1.875rem;
  margin: 0.625rem;
  width: 100%;
  text-align: center;
}

input[type="radio"]:checked + label {
  color: blueviolet;
  font-weight: 800;
  border: 0.125rem solid blueviolet;
}

input[type="radio"] {
  /* appearance: none; */
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  padding: 0.625rem 2.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 1.875rem;
  margin: 0.625rem;
  width: 20%;
  text-align: center;
}

input[type="checkbox"]:checked + label {
  color: white;
  font-weight: 800;
  background-color: blueviolet;
}

input[type="checkbox"] {
  /* appearance: none; */
  display: none;
}

select {
  padding: 0.625rem;
  outline: 0;
  background-color: #f8f2fa;
  border: 1px solid rgb(220, 208, 230);
  color: #ccc;
  border-radius: 1.875rem;
}

textarea {
  padding: 0.625rem;
  width: 100%;
  height: 200px;

  resize: none;
}

/* ======== Form styling ========  */
/* input {
  margin: 10px;
}

/* input 태그인데 type은 text이고 maxlength라는 속성이 존재하면 스타일링 
input[type="text"][maxlength] {
  background-color: aliceblue;
  width: 100%;
}

/* input 태그인데 type은 text이고 maxlength라는 속성이 20으로 존재하면 스타일링 
input[type="text"][maxlength="20"] {
  border: 2px dashed darkblue;
}

input[type="text"] {
  width: 100%;
}

input[type="number"] {
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
}

input[type="number"]:focus {
  box-shadow: 10px 10px 5px gold;
} */
