* {
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;

  background-color: lightpink;
  margin: 10px;
}

.transalte {
  /* 박스 이동 transalte(x ,y) */
  transform: translate(100px, 100px);
  background-color: rgb(200, 95, 111);
}

.scale {
  background-color: rgb(199, 243, 243);
  /* 박스의 크기(x, y) */
  transform: scale(2, 1);
}

.rotate {
  background-color: lightgray;
  /* 박스 회전 */
  transform: rotate(0.125rem);
}

.invert {
  background-color: lightskyblue;
  transform: scale(-1, 1);
}

.change-color {
  transition: background-color 0.3s;
  margin: 10px;
}

.change-color:hover {
  background-color: lightgoldenrodyellow;
  transform: scale(0.5, 0.5);
}

.change-scale {
  transition:
    transform 0.3s 0.3s,
    background-color 0.3s;
  cursor: pointer;
}

.change-scale:hover {
  background-color: darkcyan;
  transform: scale(0.5, 0.5);
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

/* .change-rotate {
  transition: transform 0.5s;
}

.change-rotate:hover {
  transform: rotate(360deg);
} */

.change-rotate {
  overflow: hidden;
}

.change-rotate:hover {
  animation: change-rotate-and-scale 1s linear infinite;
}

@keyframes change-rotate-and-scale {
  0% {
    transform: rotate(0deg) scale(1, 1) translate(0, 0);
    border-radius: 0px;
  }
  50% {
    transform: rotate(180deg) scale(1.5, 1.5) translate(50px, 50px);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(2, 2) translate(25px, 25px);
    border-radius: 100%;
  }
}

/* 상세한 애니메이션을 줄 수 있다. */
@keyframes spin {
  from {
    transform: rotatex(0deg);
  }
  to {
    transform: rotatex(360deg);
  }
}

.hover-me {
  border-radius: 0.5rem;
  overflow: hidden;
}

.hover-me > img {
  transition: transform 0.2s;
}

.hover-me:hover > img {
  transform: scale(1.2);
  background-image: url(https://kr.pinterest.com/a94956902/%EA%B3%A0%EC%96%91%EC%9D%B4-%EC%82%AC%EC%A7%84/);
}

.hover-me-test {
  width: 200px;
  height: 200px;
  background-image: url("https://i.namu.wiki/i/uJgDQWRXEtkKJgQbkbb9vj2jPuro5N3q2rmQ1NCqi3aUuIjewVAHRk1-jd6GPuYtzAeTlxIZrPdg0bAvwH6J2A.webp");
  background-size: cover;
  transition: transform 0.2s;
}

.hover-me-test:hover {
  transform: scale(1.2);
  background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131");
}
