* {
  font-family: notosanskr, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fed50a;
}

/* 로고 */
.header .logo {
  width: 100px;
  height: 40px;
}

.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./img/humor.webp");
  background-repeat: no-repeat;
  background-size: 150px 130px;
  background-position: 0 0;
}

/* nav */
.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.header nav ul li:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8af2b;
  background-color: #fed000;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 16px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: #007bff;
}

.about {
  width: 60px;
  height: 40px;

  background-image: url("./img/humor.webp");
  background-repeat: no-repeat;
  background-size: 198px 159px;
  background-position: 0 -53px;
}

.contact {
  width: 60px;
  height: 40px;

  background-image: url("./img/humor.webp");
  background-repeat: no-repeat;
  background-size: 210px 159px;
  background-position: -63px -53px;
}

/* main 버튼 */
.main-btn {
  display: flex;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}

.btn {
  flex: 1;
  padding: 12px 0;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #f4f4f4;
}

.btn a {
  text-decoration: none;
  color: #333;
}

/* 선택된 버튼 */
.btn-hover {
  font-weight: 700;
  border-bottom: 4px solid #fe0a0a;
}

.btn-hover a {
  color: #fe0a0a;
}

/* hover */
.btn:hover a {
  color: #fe0a0a;
  font-weight: 700;
}

/* 게시판 */
.board {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.board:hover {
  background-color: #fafafa;
}

/* 공지 */
.board-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.board-header > div:first-child {
  background-color: #fe0a0a;
  color: white;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
}

.board-header a {
  text-decoration: none;
  font-size: 18px;
  color: #fe0a0a;
  font-weight: 700;
}

.board-header p {
  margin-left: auto;
  font-size: 16px;
  color: #ff5722;
}

/* 게시판 정보 */
.board-content ul {
  list-style: none;
  margin: 5px 0 0;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}

.board-content li {
  font-size: 14px;
  color: #999;
}

.board-content a {
  text-decoration: none;
  color: #c46a33;
}

/* 서브 게시판 */
.board-header-sub {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.board-header-sub a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

.board-header-sub p {
  margin-left: auto;
  font-size: 16px;
  color: #ff5722;
}
