* {
  font-family: notosanskr, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fed50a;
  color: white;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header nav {
  display: flex;
  gap: 20px;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.header nav ul li {
  border: 1.2px solid #e8af2b;
  background-color: #fed000;
  padding: 0 5px;
  border-radius: 4px;
  font-size: 18px;
}

.header a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
}
.header a:hover {
  color: #007bff;
}

.header nav ul li img {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

/* main */
.main-btn {
  display: flex;
  gap: 20px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  padding: 0 20px;
}

.btn {
  flex: 1;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  border: none;
  background-color: #f4f4f4;
}

.btn a {
  text-decoration: none;
  color: #333;
}

.btn-hover {
  font-weight: 700;
  border-bottom: 4px solid #fe0a0a;
  border-radius: 0;
}

.btn-hover a {
  color: #fe0a0a;
  text-decoration: none;
}

.btn:hover {
  color: #fe0a0a;
  font-weight: 700;
}

/* 게시판 */
.board {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.board-header > div:first-child {
  background-color: #fe0a0a;
  color: white;
  padding: 0 5px;
  border-radius: 4px;
  font-size: 18px;
}

.board-header a {
  text-decoration: none;
  margin: 0 12px;
  font-size: 20px;
  color: #fe0a0a;
  font-weight: 700;
}

.board-header p {
  flex: 1;
  font-size: 18px;
  color: #ff5722;
}

.board-content ul {
  list-style: none;
  margin: 0;
  padding: 0 20px 15px;
  display: flex;
  gap: 15px;
}

.board-content li {
  font-size: 14px;
  color: #999;
}

.board-content a {
  text-decoration: none;
  color: #c46a33;
}

/* 서브 게시판 */
.board-header-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.board-header-sub a {
  text-decoration: none;
  margin-right: 12px;
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

.board-header-sub p {
  flex: 1;
  font-size: 18px;
  color: #ff5722;
}
