@charset "UTF-8";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
}

.login-page {
    /* min-height: calc(100vh - 120px);  footer 있을 경우*/
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0; */
    background: linear-gradient(to right,
            #032541,
            #01b4e4);
}

.login-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 12px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;

    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.login-container input:focus {
    border-color: #01b4e4;
    box-shadow: 0 0 5px rgba(1, 180, 228, 0.5);
}

.login-container button {
    width: 100%;
    padding: 12px;

    background: linear-gradient(45deg, #01b4e4, #0194c4);
    border: none;
    color: white;
    font-size: 16px;

    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.memberError {
    color: #ff4d4f;
    background-color: #fff1f0;
    border: 1px solid #ffa39e;

    font-size: 13px;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 12px;

    border-radius: 6px;

    width: 100%;
    position: relative;
    padding-left: 26px;
}

.memberError::before {
    content: "⚠";
    position: absolute;
    left: 5px;
    top: 7px;
    font-size: 13px;
}
