@charset "UTF-8";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
}

/* 전체 레이아웃 */
.sign-page {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #032541, #01b4e4);
}

/* 카드 */
.sign-container {
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* 제목 */
.sign-container h2 {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

/* input */
.sign-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 4px;

    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;

    transition: 0.2s;
}

.sign-container input:hover {
    border-color: #01b4e4;
}

.sign-container input:focus {
    border-color: #01b4e4;
    box-shadow: 0 0 5px rgba(1, 180, 228, 0.5);
}

/* submit 버튼만 스타일 적용 */
.sign-container > button{
    width: 100%;
    padding: 12px;

    background: linear-gradient(45deg, #01b4e4, #0194c4);
    border: none;
    color: white;
    font-size: 16px;

    border-radius: 6px;
    cursor: pointer;
}

.sign-container > button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* 에러 메시지 */
.sign-container > .memberError {
	display: block;
    width: 100%;
    box-sizing: border-box;
    
    color: #ff4d4f;
    background-color: #fff1f0;
    border: 1px solid #ffa39e;

    font-size: 13px;
    padding: 8px 10px;
    padding-left: 26px;

    margin-top: 4px;
    margin-bottom: 12px;

    border-radius: 6px;
    position: relative;
}

.sign-container > .memberError::before {
    content: "⚠";
    position: absolute;
    left: 6px;
    top: 7px;
    font-size: 13px;
}

/* 비밀번호 영역 */
.password-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.password-wrapper input {
    padding-right: 40px;
}

/* 눈 아이콘 버튼 */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 6px;
    cursor: pointer;

    border: none;
    background: none;
}

/* 아이콘 스타일 */
.toggle-password span {
    font-size: 20px;
    color: #888;
    transition: 0.2s;
}

.toggle-password:hover span {
    color: #01b4e4;
}