@charset "UTF-8";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.5;
}

/* 상단 */
.header {
    background-color: #032541;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    position: sticky;
    top: 0;
    z-index: 3;
    transition: box-shadow 0.3s;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #01b4e4;
}

.logo img {
    vertical-align: middle;
    width: 200px;
    height: auto;
}

.nav a {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.nav a:hover {
    color: #01b4e4;
}

/* 오른쪽 영역 */
.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 아이콘 버튼 */
.icon-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
}

/* 언어 버튼 */
.lang-btn {
    border: 1px solid white;
    background: none;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 12px;
}

/* 로그인, 회원가입 */
.login-btn,
.signup-btn {
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

/* hover 효과 */
.login-btn:hover {
    color: #01b4e4;
}

.signup-btn:hover {
    color: #0194c4;
}

/* 상단 검색바 */
.header-search {
    background-color: white;
    padding: 10px 30px;
}

.search-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.search-icon {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.search-wrapper input {
    width: 100%;
    padding: 0 20px 0 45px;
    border: none;
    outline: none;
}

/* 전체 영역 */
.movie-detail {
    background-color: #021c2b;
    color: white;
    width: 100%;
    padding: 50px 20px;
}

/* 가운데 정렬 */
.detail-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* 포스터 */
.poster img {
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* 정보 영역 */
.info {
    flex: 1;
}

/* 제목 */
.info h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* 메타 정보 */
.meta {
    color: #ccc;
    margin-bottom: 10px;
}

/* 등급 태그 */
.tag {
    display: inline-block;
    border: 1px solid #01b4e4;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* 개요 */
.overview {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* 추가 정보 */
.extra p {
    margin-bottom: 5px;
}

/* 버튼 */
.btnList {
    margin-top: 20px;
}

.btn {
    background-color: #01b4e4;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}


/* 하단 */
.footer {
    width: 100%;
    background-color: #021c2b;
    padding: 30px 20px;
    margin-top: 50px;
}

.footer-container {
    text-align: center;
}

.footer-logo {
    font-size: 20px;
    margin-bottom: 10px;
    color: #01b4e4;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    color: #01b4e4;
}

.copyright {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}